html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    color: rgb(255, 255, 255);
    background-image: url(./1292433433-aitor-estevez-olaizola-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header {
      background-image: url(./istockphoto-1224029864-170667a.jpg);  
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: rgb(206, 219, 18);
      padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

table {
    transition: box-shadow 0.3s ease;
    background-color: #129e92;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

table:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 5);
}
 
table h2, table p {
    margin: 1rem;
}

footer {
    background-image: url(./istockphoto-1224029864-170667a.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 3rem;
    color: white;
}

footer section {
    float: left;
}

footer p{
    float: right;
    margin: 0;
}

footer a, footer p {
    transition: color 0.3s ease;
    color:#fffdfd;
    text-decoration: underline;
}

footer a:hover {
    color: rgb(97, 189, 10);
}
